.editor-container{
  margin: 10px;
  font-family: 'Source Code Pro', monospace;
  width: 98%;
  min-height: 10%;
  max-height: 60%;
  height: 50%;
  resize: vertical;
  border: 3px solid #385454;
  border-radius: 10px;
  color: rgb(160, 155, 155);
  overflow-y: auto;
  background-color: black;
}

.editor {
  counter-reset: line;
}

.editor #textArea {
  outline: none;
  padding-left: 60px !important;
}

.editor pre {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #cccccc;
  text-align: right;
  width: 40px;
  font-weight: 100;
}