.text-area {
  margin: 10px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  width: 98%;
  min-height: 50px;
  max-height: 100%;
  resize: vertical;
  border: 3px solid gray;
  border-radius: 10px;
  outline: none;
  background-color: whitesmoke;
}

.text-area:active{
  border: 3px solid rgb(85, 84, 84);
}
