.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 100vh;
  background-color: #152727;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

.message {
  margin: 10px 10px 0 15px;
  padding: 5px;
  display: flex;
  align-items: center;
  font-weight: 600;
  border-radius: 5px;
}

.error {
  color: red;
}

.warning {
  color: orange;
}

.icon{
  margin-right: 5px;
}