.footer {
  display: flex;
  background-color: #111b1b;
  align-items: center;
  padding: 16px;
  color: aliceblue;
}

.chart-button {
  cursor: pointer;
  padding: 12px;
  background-color: #2F4F4F;
  height: 42px;
  color: whitesmoke;
  border-radius: 5px;
  border: 1px solid #2F4F4F;
  outline:none;
  font-weight: 600;
  font-size: 16px;
}

.chart-button:hover{
  box-shadow: 0 0 3px white;
}

.chart-button:active {
  background-color: #263f3f;
}

.chart-button:disabled{
  background-color: #263f3f;
  color: gray;
}

.chart-button:disabled:hover{
  box-shadow: none;
  cursor: default;
}